{{#each defaultList as |listItem|}}
  <h4{{action "toggleModal"}}>{{listItem.name}}</h4>
    {{#if isShowingModal}}
        {{#list-item-modal
          itemName=listItem.name
          description=listItem.description
          }}{{/list-item-modal}}
    {{/if}}
{{/each}}

{{yield}}
