{{#each listItems as |item|}}
  <h3>{{item}}</h3>
{{/each}}

{{#if showInput}}
  {{input value=listItem enter=(action "addListItem" listItem listName)placeholder="New list item"}}
{{/if}}

<button {{action "newListitemInput"}}>Add List Item...</button>
  <hr>
{{yield}}
