@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-bootstrap/bootstrap";

.add-new-list {
  margin: 20px 10px;
}

.add-list-item {
  margin-top: 10px;
}

.card {
  border: 2px solid #a1a1a1;
  padding: 10px 20px;
  background: #dddddd;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}

.modal-content {
  padding: 10px 20px;
}

textarea {
  margin: 5px 0 5px 0;
}
