<h1>Tiny Trello</h1>
<hr>
<h2>Main List</h2>
{{#each defaultList as |listItem|}}
  <h3{{action "toggleModal"}}>{{listItem.name}}</h3>
{{/each}}

<hr>

{{new-list}}

{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Oh hai there!
  {{/modal-dialog}}
{{/if}}


