<h1>Tiny Trello</h1>
<h2>Main List</h2>
<ul>
{{#each defaultList as |listItem|}}
  <li>{{listItem.name}}</li>
{{/each}}
</ul>

<hr>

{{#if newList}}

  {{#new-list lists as |list|}}
  {{/new-list}}

{{/if}}

<button {{action "addNewList"}}>Add List...</button>




