<h1>Tiny Trello</h1>
<h2>Main List</h2>
{{#each defaultList as |listItem|}}
  <h3>{{listItem.name}}</h3>
{{/each}}

<hr>

{{!-- {{#if showInput}} --}}
  {{new-list}}
{{!-- {{/if}} --}}

{{!-- <button {{action "newListInput"}}>Add List...</button> --}}




